.form-group {
    float: right;
    position: relative;
}

.form-group input {
    height: 30px;
    max-width: 150px;
    border: 1px solid #000;
    padding: 0 0 0 6px; 
}

.form-group .mat-icon {
    position: absolute;
    top: 4px;
    right: 8px;
}
