<ng-container [ngSwitch]="config.action">
    <ng-template [ngSwitchCase]="'close'">
        
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <h2 mat-dialog-title>  {{ config.text }} </h2>
            </div>
            <div class="col text-end">
                <button mat-icon-button cdkFocusInitial mat-dialog-close class="buttons-close-btn">
                    <mat-icon>{{ config.icon }}</mat-icon>
                </button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="'cancel'">
        <button mat-button mat-dialog-close class="buttons-cancel-btn">{{ config.text }} </button>
    </ng-template>
    <ng-template ngSwitchDefault>
        No Button Available
    </ng-template>
</ng-container>
