.btn-open-dialog {
    border: none;
    background: #fff;
}
.btn-open-dialog:hover:not([disabled]) {
    font-weight: 600;
    text-decoration: underline;
}

.table-container {
    margin-top: 20px;
}